::ng-deep .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    background-color: rgb(255, 101, 101) ;
  }
  .help{
    //   width: 200px;
    //   height: 200px;
    //   line-height: 200px;
    line-height: 1;
      font-size: 100px;
      color: rgb(255, 101, 101);
  }
  #body {
      padding-top: 30px;
}