$background-color: #548e89;
  table {
    width: 100%;
    text-align: center !important;
  }
  mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-cell{
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif !important;
  }

  th.mat-header-cell{
    font-size: 14px;
    color: rgba(0,0,0,.87);
    text-align: center !important;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif !important;
  }

 tr:hover{
    cursor: pointer !important;
    background: #f4f4f4 !important;
}

#delete{
  color: rgb(255, 101, 101);
}
#edit{
  color:rgb(66, 145, 66);
}
.example-container {
  overflow: auto;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
  color: $background-color;;
}
/* Font color */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $background-color;
  
}
.table_data{
  padding: 0px 7px 0px 7px !important;
}
.addButton{
  background: #548e89;
  height: 49px;
  border-radius: 4px;
}
.addDiv{
  padding-top: 4px;
}